.posts {
    list-style: none;
    max-width: 50rem;
    margin: 1rem auto;
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
  }
.fallback {
    text-align: center;
    color: #4059a9;
}
.errorModal {
    text-align: center;
    color: #d44f4f;
    margin: 1rem;
}

.errorModal button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #d44f4f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
